# Rust build artifacts
**/target/
debug/

# Backups and temporary files
**/*.rs.bk
*.pdb

# IDE specific (JetBrains/VS Code)
.idea/
.vscode/
*.swp
*.swo

# OS specific
Thumbs.db
.DS_Store

# Cargo mutants
**/mutants.out*/